* {
  box-sizing: border-box;
  font-family: sans-serif;
  padding: 0;
  margin: 0;
  color: #393c41;
}

body {
  width: 100%;
}

.downArrow {
  animation: bounce-arrow 1s ease-in forwards infinite alternate;
}

.downArrow:hover {
  animation-play-state: paused;
}

a {
  text-decoration: none;
}

@keyframes bounce-arrow {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}
